<ion-view style="" class=" " id="page9" title="bookreview">
<ion-nav-title>
	<div class="bms-head-title">
	  PAYMENT DETAILS
	 </div>
</ion-nav-title>
<ion-nav-buttons side="right">
		<i class="icon icon-left ion-ios-search-strong bms-right-icon"></i>
</ion-nav-buttons>
    <ion-content class="theme-bg2">
		<div class="bms-wrapper">
			<div class="bms-booking1-wrap">
			<div class="bms-history-details-wrap">
				<div class="bms-history-details-wrap-inner bg text-white">
					<ul>
						<li>
							<h1 class="text-theme">{{s_name | uppercase}}</h1>
							<ul class="bms-list-inside text-white">
								<li style="width:80% !important;">DATE&TIME</li>
								<!-- <li  style="width:20% !important;" >TIME</li> -->
							</ul>
							<ul class="bms-list-inside text-white">
								<li  style="width:80% !important;">{{dateAsString}}</li>
								<!-- <li  style="width:20% !important;">5.30</li> -->
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="bms-details">
				<div class="bms-detail-head">
					PERSONEL DETAILS
				</div>
				
			
				<ul>
					<li><span><img src="img/bms-mail.png">{{email_id}}</span></li>
					<li><span><img src="img/bms-call.png">{{phone_no}}</span></li>
				</ul>
			</div>
			<div class="bms-history-details-wrap">
				<div class="bms-history-details-wrap-inner">
					<ul>
						<li >
							<h1> DETAILS</h1>
							<ul class="bms-list-inside" ng-repeat="val in array">
								<li class="bms-list-child1" >{{val[0]}}</li>
								<li class="bms-list-child2" >{{val[2]}}</li>
							</ul>
							<!-- <ul class="bms-list-inside">
								<li class="bms-list-child1">Massage</li>
								<li class="bms-list-child2">$ 35.00</li>
							</ul> -->
						</li>
						<li style="padding-top:20px;border:none;">
							<ul class="bms-list-inside">
								<li class="bms-list-child1"><h1>SUBTOTAL</h1></li>
								<li class="bms-list-child2" >{{sprice}}</li>
							</ul>
							<ul class="bms-list-inside">
								<li class="bms-list-child1"><h1>INTERNET HANDLING CHARGES</h1></li>
								<li class="bms-list-child2">FREE</li>
							</ul>
						</li>
						
					</ul>
				</div>
				<ul style="border:1px solid #e1e1e1;border-top:none;background:#fdedef;padding-left:10px;padding-right:10px;">
					<li style="padding-top:20px;border:none;background:#fdedef;">
							<ul class="bms-list-inside">
								<li class="bms-list-child1"><h1><b>TOTAL AMOUNT PAYED</b></h1></li>
								<li class="bms-list-child2" >$ <b style="color:#f0525f;">{{sprice}}</b></li>
							</ul>
						</li>
				</ul>
				<div class="bms-button-bay" style="background:#fff;float:left;padding-left: 15px;padding-right: 15px;">
						<!-- <button style="background:#e7e7e7;" class="bms-book-btn float-l" style="background:#7e7e7e;">AVAIL OFFER</button> -->
						<button class="bms-book-btn float-r" ng-click="finalBooking()">PAY NOW</button>
					</div>
				
			</div>
			
			</div>
		</div>
    </ion-content>
</ion-view>