<ion-view style="" class=" " id="page10" title="bookingconfirmation">
<ion-nav-buttons side="left">
		<i class="icon icon-left ion-chevron-left bms-left-icon" ng-click="myGoBack()" ></i>
</ion-nav-buttons>
<ion-nav-title>
	<div class="bms-head-title">
	  Booking Confirmation
	  </div>
</ion-nav-title>
<ion-nav-buttons side="right">
</ion-nav-buttons>
    <ion-content class="theme-bg2">
		<div class="bms-wrapper">
			<div class="bms-booking-div">
				<div class="bms-booking-div-inner">
					<div class="bms-booking-div-inner-logo">
						<img src="img/bms-grey-logo.png">
					</div>
					<div class="bms-book-ack">
						<h4>Congrats !</h4>
						<p style="padding-top: 15px;"> Your booking has been confirmed. </p>
						<!-- <p>Thank you for Booking with lakme saloon.</p> -->
					</div>
					<div class="bms-button-bay" >
						<!-- <button style="background:#e7e7e7;" class="bms-book-btn float-l" ng-click="mybooking()"><i class="icon icon-left ion-android-checkmark-circle" ></i>&nbsp;&nbsp;My Booking</button> -->
						<button class="bms-book-btn float-r"  ui-sref="menu.home"><i class="icon icon-left ion-ios-home-outline" ></i>&nbsp;&nbsp;Home</button>
					</div>
					<div style="height:200px;"></div>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>