<ion-view style="" class=" " id="page8" title="time">
<ion-nav-title>
	<div class="bms-head-title">
	  LAKME SALOON
	 </div>
</ion-nav-title>
<ion-nav-buttons side="right">
		<i class="icon icon-left ion-ios-search-strong bms-right-icon"></i>
</ion-nav-buttons>
    <ion-content class="theme-bg2">
		<div class="bms-wrapper">
			<div class="bms-booking-wrap-inner">
				<div class="bms-booking-wrap">
					<h3>DATE & TIME</h3>
					<div class="bms-datentime-btn-bay">
						<div class="bms-date"><p><img src="img/bms-date.png">SELECT DATE</p></div>
						<div class="bms-time"><p><img src="img/bms-time.png">SELECT TIME</p></div>
					</div>
					<div class="bms-cal-div">
						<div class="bms-cal-top">
							<div class="acc-cal-head1">AVIALABLE TIME</div>
						</div>
						<div class="bms-cal-content2">
							<ul>
								<li>09 AM</li>
								<li>10 AM</li>
								<li>11 AM</li>
								<li>12 AM</li>
								<li>01 AM</li>
								<li>02 AM</li>
								<li>03 AM</li>
								<li>04 AM</li>
								<li>05 AM</li>
								<li>06 AM</li>
								<li>07 AM</li>
								<li>08 AM</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="bms-booking-wrap">
				<h1>CHOOSE YOUR SERVICE</h1>
				<ul class="bms-service-list">
								<li >dfdfdsf</li>
								
							</ul>
							<div class="bms-apply">
							<button class="bms-apply-btn" ui-sref="menu.bookreview">Apply Now</button>
							
							</div>
				</div>
				
			</div>
		</div>
</ion-view>